<EllaTreadmill
  @content={{this.model}}
  @row="5em"
  @on-scroll-start={{this.handleScrollStart}}
  @on-scroll-end={{this.handleScrollEnd}}
>
  <:default as |item|>
    {{#if item.is_loading}}
      Loading...
    {{else}}
      <p>
        [{{item.id}}] {{item.phrase}}
      </p>
    {{/if}}
  </:default>

  <:inverse>
    {{#if this.model.loading}}
      Loading...
    {{else}}
      <p>Nothing to see here.</p>
    {{/if}}
  </:inverse>
</EllaTreadmill>
