{{#ella-treadmill
  content=words
  row='5em'
  on-scroll-start=(action 'handleScrollStart')
  on-scroll-end=(action 'handleScrollEnd')
  as |item|
}}
  {{#if item.fetchingContent.isRunning}}
    Loading...
  {{else}}
    <p>
      [{{item.id}}] {{item.phrase}}
    </p>
  {{/if}}
{{else}}
  {{#if model.loading}}
    Loading...
  {{else}}
    <p>Nothing to see here.</p>
  {{/if}}
{{/ella-treadmill}}
